<div class="fixed-bottom">
  <div class="container-fluid">

    <div class="row d-flex justify-content-start ml-5 mb-3">

      <div class="col-md-3 wrapper p-3">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-danger">Nos siga nas redes sociais:</h4>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
          <!-- começo da lista -->
          <ul class="social-network m-0 p-0 text-danger">

            <!-- linkedin -->
            <li>
              <a href="" target="blank" class="iconeLinkedin"><i class="fa fa-linkedin-square"></i>
              </a>
            </li>

            <!-- instagram -->
            <li>
              <a href="" target="blank" class="iconeInstagram"><i class="fa fa-instagram"></i>
              </a>
            </li>

            <!-- github -->
            <li>
              <a href="" target="blank" class="icone Github"><i class="fa fa-github-square"></i>
              </a>
            </li>

          </ul>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
          <span class="text-danger">® 2021 Copyright:</span>
          <a class="text-danger" target="blank" href=""> sinergy.com</a>
        </div>
      </div>

    </div>
  </div>
</div>