#img-bg{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/432eafa2-0022-410b-bb27-d2cf7ede58a3/d58cwyy-d893d4a6-7060-480f-b33e-ae00d8d9ac4e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQzMmVhZmEyLTAwMjItNDEwYi1iYjI3LWQyY2Y3ZWRlNThhM1wvZDU4Y3d5eS1kODkzZDRhNi03MDYwLTQ4MGYtYjMzZS1hZTAwZDhkOWFjNGUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CuYFwe2kS-d4qj7G6fdyV90jWvbOhN6i2gt5w3Jm798%27');

    min-height: 100vh;
    min-width: 100vw;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


