<div>
    <form>
        
        <div class="form-group">
            <label for="nome">Nome Completo</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
          </div>

        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" placeholder="Digite seu usuário">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Endereço de email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite seu senha">
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirme sua senha</label>
            <input type="confirmSenha" class="form-control" id="confirmSenha" placeholder="Repita a senha">
          </div>

          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="Digite seu Telefone">
          </div>

          <div>
                <button>Cadastrar</button>
                <button routerLink='/login'>Cancelar</button>
          </div>
          
        
      </form>
    
</div>