<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>


<body>
  <h1 class="d-flex justify-content-center">Sobre Nós</h1>
  <h4>
    O nome do nosso projeto é Sinergy, ele é uma rede social que visa conectar
    ONGs que tem como objetivo as causas e metas da ODS 7 (energia limpa para
    todos) com pessoas que se interessam também por essa causa e queiram ajudar
    essas Instituições de alguma forma. A idéia é proporcionar uma plaforma onde
    ONGs e pessoas possam interagir e contribuir uma com a outra, através de
    publicações, enquetes de doações, posts, artigos, projetos, parcerias
    empresariais, abaixo assinado para petições coletivas e entre outros
    recursos. E tudo isso será possivel através de postagens públicas dentro da
    nossa rede social onde qualquer pessoa ou instituição terá acesso. Portanto,
    com isso pretendemos de alguma forma ajudar a contribuir para o cumprimento
    das metas da ODS 7.
  </h4>

  

  <div class="team-area">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <!-- MEMBRO 1* -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img
                src="https://avatars.githubusercontent.com/u/84461044?v=4"
                class="img-responsive"
                alt=""
              />
              <div class="social">
                <ul class="list-inline">
                  <li>
                    <a target="_blank" href="https://github.com/Brulishi"
                      ><i class="fa fa-github"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/in/pablo-santos-10974b212/"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-text p-0 pt-5 pb-5">
              <h4>Pablo Santos</h4>
              <h5>Dev FullStack</h5>
            </div>
          </div>
        </div>
        <!-- MEMBRO 1* -->

        <!-- MEMBRO 2* -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img
                src="https://i.imgur.com/gkyqGv4.jpg?3"
                class="img-responsive"
                alt=""
              />
              <div class="social">
                <ul class="list-inline">
                  <li>
                    <a target="_blank" href="https://github.com/GustavoScabuzzi"
                      ><i class="fa fa-github"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/in/gustavo-scabuzzi-gon%C3%A7alves-285898212/"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-text p-0 pt-5 pb-5">
              <h4>Gustavo Scabuzzi</h4>
              <h5>Dev FullStack</h5>
            </div>
          </div>
        </div>
        <!-- MEMBRO 2* -->

        <!-- MEMBRO 3* -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img
                src="https://avatars.githubusercontent.com/u/69224429?v=4"
                class="img-responsive"
                alt=""
              />
              <div class="social">
                <ul class="list-inline">
                  <li>
                    <a target="_blank" href="https://github.com/DanielSanm"
                      ><i class="fa fa-github"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/in/danielsanm/"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-text p-0 pt-5 pb-5">
              <h4>Daniel Elias</h4>
              <h5>Dev FullStack</h5>
            </div>
          </div>
        </div>
        <!-- MEMBRO 3* -->

        <!-- MEMBRO 4* -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img
                src="https://avatars.githubusercontent.com/u/89783176?v=4"
                class="img-responsive"
                alt=""
              />
              <div class="social">
                <ul class="list-inline">
                  <li>
                    <a target="_blank" href="https://github.com/abnerwerley"
                      ><i class="fa fa-github"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/in/abnerwerleysilva/"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-text p-0 pt-5 pb-5">
              <h4 class="">Abner Silva</h4>
              <h5>Dev FullStack</h5>
            </div>
          </div>
        </div>
        <!-- MEMBRO 4* -->

        <!-- MEMBRO 5* -->
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img
                src="https://avatars.githubusercontent.com/u/79876212?v=4"
                class="img-responsive"
                alt=""
              />
              <div class="social">
                <ul class="list-inline">
                  <li>
                    <a target="_blank" href="https://github.com/george-git-dev"
                      ><i class="fa fa-github"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/in/george-silva/"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="img-text p-0 pt-5 pb-5">
              <h4>George de Souza</h4>
              <h5>Dev FullStack</h5>
            </div>
          </div>
        </div>
        <!-- MEMBRO 5* -->
      </div>
    </div>
  </div>
</body>
