<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- NOSSO TIME -->
  <section id="team" class="pb-0">
    <div class="container-fluid">
      <div class="row  justify-content-center">
        <div class="col-md-0  pt-100">
          <h2>Nossa equipe!</h2>
          <p>Conheça um pouco mais sobre a nossa equipe de desenvolvedores.</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-2">
          <div class="member">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/84461044?v=4" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Pablo Santos</h4>
              <span>Dev FullStack</span>
              <div class="social-links">
                <a href="https://www.linkedin.com/in/pablo-santos-10974b212/" target="blank"><i
                    class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Brulishi"><i class="fab fa-github ml-2" target="blank"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="member">
            <div class="member-img">
              <img src="https://i.imgur.com/gkyqGv4.jpeg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Gustavo Scabuzzi</h4>
              <span>Dev FullStack</span>
              <div class="social-links">
                <a href="https://www.linkedin.com/in/gustavo-scabuzzi-gon%C3%A7alves-285898212/" target="blank"><i
                    class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/GustavoScabuzzi" target="blank"><i class="fab fa-github ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="member">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/69224429?v=4" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Daniel Elias</h4>
              <span>Dev FullStack</span>
              <div class="social-links">
                <a href="https://www.linkedin.com/in/danielsanm/" target="blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/DanielSanm" target="blank"><i class="fab fa-github ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="member">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/89783176?v=4" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Abner Silva</h4>
              <span>Dev FullStack</span>
              <div class="social-links">
                <a href="https://www.linkedin.com/in/abnerwerleysilva/" target="blank"><i
                    class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/abnerwerley" target="blank"><i class="fab fa-github ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="member">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/79876212?v=4" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>George De Souza</h4>
              <span>Dev FullStack</span>
              <div class="social-links">
                <a href="https://www.linkedin.com/in/george-silva/"><i class="fab fa-linkedin-in"
                    target="blank"></i></a>
                <a href="https://github.com/george-git-dev"><i class="fab fa-github ml-2" target="blank"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>



<div class="row bg-blue">
  <div class="
        col-md-12
        d-flex
        justify-content-center
        align-items-center
        wrapper-img
        
      ">
    <div class="bg-white rounded-circle p-3 pt-4 pl-4 my-5">
      <img src="https://i.imgur.com/Qnc9Fge.png" alt="" width="250px">
    </div>
  </div>
</div>