<div class="container-fluid">

  <div class="row d-flex align-items-center justify-content-center">

    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
 
    <div class="wrapper">
      <div class="title">Entrar</div>
      <form action="#">
        <div class="field">
          <input
            [(ngModel)]="usuarioLogin.email"
            class="form-control"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Seu usuário"
          />
          <label for="email">Email</label>
        </div>

        <div class="field">
          <input
            [(ngModel)]="usuarioLogin.senha"
            class="form-control"
            type="password"
            name="senha"
            id="senha"
            placeholder="Sua senha"
          />
          <label for="senha">Senha</label>
        </div>

        <div class="field">
          <input type="submit" class="btn btn-success" (click)="entrar()" />
        </div>
        <div class="signup-link">
          Não é um membro? <a routerLink="/cadastrar">Cadastre-se!</a>
        </div>
      </form>
    </div>
</div>
</div>
</div>
</div>
</div>


