<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Endereço de email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
    </div>

    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
    </div>

    <div>
        <button>Entrar</button>
    </div>

    <div>
        <p>
            Não tem uma conta?<a href="">Cadastre-se</a>
        </p>
    </div>
</form>