<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="fa nav-link" routerLink='/inicio'>Home<span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="fa nav-link" [routerLink]="['/usuario-edit', id]">Meu perfil</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0 jus ">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-light my-2 my-sm-0 mr-4" type="submit">Pesquisar</button>
        </form>

        <div class="d-flex justify-content-between align-items-center">
      

            <img src="{{foto}}" alt="Imagem do usuario" width="60px" height="50px" class="img-fluid rounded-circle mr-2">
    
    
            <p class="m-0 font-weight-bold text-white fs-16">{{nome}}</p>
    
    
            <button (click)='sair()' class="btn btn-outline-danger my-2 my-sm-0 ml-3" type="submit">Sair</button>
    
          
        </div>


    </div>
</nav>