<div class="container-fluid" id="top">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-8">
      <div class="container p-0">
        <div class="row" id="editUsuario">
          <div class="col-md-12">
            <p class="text-center m-0 br-25">

              <a [ngStyle]="{ 'border-bottom-right-radius': border, 'border-bottom-left-radius': border }"
                (click)="clicado()" class="btn btn-light btn-block br-25" id="bb" type="button" data-toggle="collapse"
                data-target="#editarUsuario" aria-expanded="false" aria-controls="editarUsuario"
                style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.226)">
                <div>
                  <h4 class="card-title m-0 text text-center">
                    Editar informações do usuário
                  </h4>
                </div>
              </a>
            </p>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="collapse" id="editarUsuario">

              <div class="wrapper bt-0">
                <div class="p-4 px-5">

                  <!-- NOME -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">

                      <label class="pl-5" for="nome">Nome</label>

                      <div class="d-flex justify-content-between align-items-center">
                        <i class="fa fa-user pr-3" aria-hidden="true"></i>
                        <input class="form-control br-50" type="text" name="nome" id="nome" placeholder="Seu nome"
                          [(ngModel)]='usuario.nome' />
                      </div>

                    </div>
                  </div>
                  <!-- NOME -->

                  <!-- E-MAIL -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="pl-5" for="email">E-mail</label>

                      <div class="d-flex justify-content-between align-items-center">
                        <i class="fa fa-envelope pr-3" aria-hidden="true"></i>
                        <input class="form-control br-50" type="email" name="email" id="email" placeholder="Seu email"
                          [(ngModel)]='usuario.email' />
                      </div>

                    </div>
                  </div>
                  <!-- E-MAIL -->


                  <!-- LINK DA FOTO -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="pl-5" for="linkFoto">Link da foto</label>

                      <div class="d-flex justify-content-between align-items-center">
                        <i class="fa fa-camera pr-3" aria-hidden="true"></i>

                        <input class="form-control br-50" type="text" name="foto" id="foto" placeholder="Link da foto"
                          [(ngModel)]='usuario.foto'>
                      </div>

                    </div>
                  </div>
                  <!-- LINK DA FOTO -->


                  <!-- SENHA -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="pl-5" for="senha">Senha</label>

                      <div class="d-flex justify-content-between align-items-center">
                        <i class="fa fa-unlock-alt pr-3" aria-hidden="true"></i>
                        <input (input)='confirmSenha($event)' type="password" id="form3Example4c"
                          class="form-control br-50" placeholder="Senha" />
                      </div>

                    </div>
                  </div>
                  <!-- SENHA -->


                  <!-- CONFIRMAR SENHA -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="pl-5" for="confirmSenha">Confirmar Senha</label>

                      <div class="d-flex justify-content-between align-items-center">
                        <i class="fa fa-unlock pr-2" aria-hidden="true"></i>
                        <input [(ngModel)]='usuario.senha' class="form-control br-50" type="password"
                          name="confirmSenha" id="confirmSenha" placeholder="Confirme a senha" />
                      </div>

                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-danger btn-lg mr-3 br-50"
                      routerLink='/inicio'>Cancelar</button>

                    <button type="submit" class="btn btn-primary btn-lg br-50" (click)="atualizar()">Atualizar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid pt-4 bg-postagens">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 col-sm-6 sticky" style="max-block-size: 200px">
      <!-- style="max-block-size: 200px" -->
      <div class="wrapper row d-flex justify-content-center p-3">
        <div class="col-md-12 p-0">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-item nav-link font-weight-bold br-25 d-flex justify-content-center text-center"
              id="nav-editarUsuario-tab" data-toggle="tab" href="#editUsuario" role="tab"
              aria-controls="nav-editarUsuario" aria-selected="false">Editar Usuario</a>

            <a (click)="postagemByIdUsuario()"
              class="nav-item nav-link font-weight-bold br-25 d-flex justify-content-center text-center"
              id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
              aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Publicações</a>


          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 m-0">
      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">

            <!-- MINHAS POSTAGENS -->

            <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel"
              aria-labelledby="nav-minhasPostagens-tab">

              <!-- PROCURAR POR TITULO -->
              <div class="row d-flex justify-content-center mt-5 mb-4">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control br-50" id="titulo" placeholder="Procurar por titulo"
                      [(ngModel)]="tituloPost" (keyup)="findByTituloPostagem()" />
                  </div>
                </div>
              </div>
              <!-- PESQUISA POR TÍTULO -->


              <!-- PESQUISA POR TEMA -->
              <!-- <div class="row d-flex justify-content-center mt-5 mb-4">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control br-50" id="titulo" placeholder="Procurar por tema"
                      [(ngModel)]="nomeTema" (keyup)="findByNomeTema()" />
                  </div>
                </div>
              </div> -->

              <!-- PESQUISA POR TEMA -->


              <div class="text-center mb-4" *ngFor="let item of usuario.postagens | orderBy : key : reverse">
                <div class="wrapper">
                  <div class="p-3">
                    <div class="row">
                      <div class="col-md-3 border-right">
                        <img src="{{ foto }}" alt="imagem-usuario" class="rounded-circle mb-2 foto-usuario"
                          width="100px" />

                        <p class="">
                          {{ nome }}
                        </p>
                        <p class="card-text">
                          <small class="text-muted">{{ item.date | date: "dd/MM/yyyy" }}
                            às
                            {{ item.date | date: "HH:mm" }}</small>
                        </p>
                      </div>

                      <div class="col-md-9">
                        <div class="row d-flex justify-content-end">
                          <div class="col-md-10 d-flex justify-content-center align-items-center">
                            <h5 class="m-0">{{ item.titulo }}</h5>
                          </div>

                          <div class="col-md-1 dropdown d-flex justify-content-end font-weight-bold p-0 m-0">
                            <a class="a-size mr-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              ...
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" [routerLink]="['/postagem-edit', item.idPostagem]">Editar</a>
                              <a class="dropdown-item" [routerLink]="['/postagem-delete', item.idPostagem]">Apagar</a>
                            </div>
                          </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                          <p class="text-muted">
                            <strong>Tema:</strong>
                            {{ item.tema.titulo }}
                          </p>
                        </div>

                        <div class="row text-center">
                          <div class="col-md-12">
                            <p class="card-text mt-3">{{ item.texto }}</p>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-12">
                            <img src="{{ item.foto }}" alt="" width="90%" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SETA UP -->
    <div class="container fixed-bottom col-md-1 mr-0">
      <div class="row d-flex justify-content-end m-3">
        <div class="wrapper">
          <div class="col-md-12 d-flex justify-content-center">
            <a href="#top"><i class="fa fa-arrow-up" aria-hidden="false"></i> </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /SETA UP -->

  </div>
</div>